<div class="navbar-container">
<div class="navigation-bar">
    <ul class="navbar-items">
        <li><a href="/">Home</a></li>
        <li><a href="/resume">Resume</a></li>
        <li><a href="/portfolio">PortFolio</a></li>
        <li><a href="/contact">Contact</a> </li>
        <li>Login</li>
    </ul>

</div>
</div>