@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Raleway:ital,wght@0,200;0,300;0,400;1,300&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    /* display: flex; */
    /* height: 100%; */
    overflow: scroll;
    margin: 0;
}

.main-body{
    padding: 80px 30px;
    background-color: #FBF8F1;
    width: 90%;
    overflow:visible;
    margin-left: auto;
    margin-right: auto;
    min-width: 444px;
}

#myName{
    font-size: 20px;
    margin-left: 0;
    float: left;
}



/* -------------------------------- */
.navigation-bar{
    margin: 0;
    background-color:#666666;
    height:50px;
    /* overflow:visible; */
    position: absolute;
    width: 100%;
    /* transition: opacity 2s ease-in ; */
    min-width: 444px;
    padding-right: 90px;
}



@media screen and(max-width:698px) {
    #burger-icon {
        display: block;
    }
    
}
@media screen and(min-width: 745px){
    #burger-icon {
        display: none;
    }
}

@media screen and (max-width:980px){
    .navigation-bar{
        background-color: burlywood;
        transition: ease-in;
    }
    .post-box input{
        width: 90%;
    }   
    .post-box textarea{
        width: 90%
    }
    #post-box-bottom button{
        width: 140%;
    }

}


.navbar-items li {
    float: left;
    font-family: 'Raleway', sans-serif;
    display: inline;
    margin-top: 10px;
    transition:all 0.7s;
    padding: 0px 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

.navbar-items li:hover{
    transform: scale(1.2);
}

.navbar-items {
    float: right;
    margin: 0;
    padding: 5px;
    /* overflow:hidden */
}

.navbar-items li a{
    color: white;
    list-style-type: none;
    overflow: hidden;
    padding:14px 4vw;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    
}

.navbar-items li a:hover{
    /* background-color: white; */
    color: black;
}


footer{
    position: fixed;
    bottom: 0;
    padding:10px;
    width: 100%;
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}


.languages-list p{
    font-family: 'Raleway', sans-serif;
    display:inline;
    margin: 0px 20px;
    padding: 10px;
    font-weight: bold;
}

.t-head{
    /* white-space: pre; */
    font-size: 17px;
    text-align: start;
    padding-left: 20px;
    padding-right: 0;
    margin:0;
    color: black;
    font-family: 'Raleway', sans-serif;
}

@media screen and (max-width:650px){
    .t-head {
        width: 500px;
        text-align: center;
    }
    .t-head ~ th{
        display: none;
    }

}

.skills-table {
    table-layout: fixed;
    font-family: 'Raleway', sans-serif;

    width: 100%;
}

.skills-table tr{
    padding-left: 10px;
    padding-right: 10px;
    /* white-space: pre; */
}

.other-skill-table{
    font-family: 'Raleway', sans-serif;

}

.creation-title{
    font-family: 'Raleway', sans-serif Regular 400;
}
.experience-table tr{
    padding-left: 30px;
    text-align: end;

}
.experience-table th{
    word-wrap: break-word;
    padding: 5px 15px;
    font-family: 'Raleway', sans-serif;
}

hr{
    margin-top: 0;
}

.detailed-content{
    margin-left: 30px;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

.human-languages p{
    display: inline;
    margin-left: 50px ;
    font-family: 'Raleway', sans-serif;
}

.category-title{
    padding: 0;
    margin-bottom: 5px;
    font-family: 'Raleway', sans-serif Bold 700;
}

.education-table {
    font-family: 'Raleway', sans-serif;
}