<%- include('../../../components/header') %> 
<link rel="stylesheet" href="style.css">
</head>

<body>
<%- include('../../../components/navbar') %> 

    <div class="container">
        <div class="panel active"style="background-image: url('../pictures/shwedagonPagoda.jpg');">
            <h3 >Shwedagon Pagoda</h3>
        </div>

        <div class="panel " style="background-image: url('../pictures/pagodaTwo.JPG');">
            <h3 >Sule Pagoda</h3>
        </div>
        <div class="panel" style="background-image: url('../pictures/sunsetYangon.jpg');">
            <h3 >Yangon Sunset</h3>
        </div>
        <div class="panel" style="background-image: url('../pictures/hohhot.jpg');">
            <h3 >Hohhot Street </h3>
        </div>
        <div class="panel" style="background-image: url('../pictures/twintower.jpg');">
            <h3 >Malaysia Twin Tower</h3>
        </div>

    </div>
<script src="script.js"></script>
<script> document.title = "Places I Lived"</script>
</body>
<%- include('../../../components/footer') %> 