<%- include('../components/header') %> 
</head>

<body>
<%- include('../components/navbar') %> 

<div class="main-body">
<h2>This is Contact page </h2>

<form action="">
    


</form>
</div>
</body>

<script> document.title = "Contact"</script>

<%- include('../components/footer') %> 