<%- include('../components/header') %> 
</head>

<body>
<%- include('../components/navbar') %> 

    <div class="main-body">
        <h2>My Dashboard</h2>
    </div>
</body>

<%- include('../components/footer') %> 