<%- include('../components/header') %> 
<%- include('../components/navbar') %> 

<body>
    <div class="main-body">
        <h2>My Dashboard</h2>
    </div>
</body>

<%- include('../components/footer') %> 