<%- include('../components/header') %> 
</head>
<body>
    <%- include('../components/navbar') %> 

<div class="main-body">

<h2>Frontend Samples with Javascript, CSS and HTML</h2>
<div>
<h4><a href="/portfolio/expanding_cards">Expanding Cards</a></h4>
</div>

<div>
    <h4><a href="/portfolio/blurry_loading">Blurry Loading</a></h4>
</div>
<div>
    <h4><a href="/portfolio/rotating_navigation">Rotating Navigation</a></h4>
</div>



<script> document.title = "Things I can Do"</script>
</div>
</body>

<%- include('../components/footer') %> 