<%- include('../components/header') %> 

<body>
    <%- include('../components/navbar') %> 

<div class="main-body">

<h2>This is PortFolio page</h2>
<h4><a href="/portfolio/expanding_cards">Expanding Cards</a></h4>
<script> document.title = "Things I can Do"</script>

</div>
</body>

<%- include('../components/footer') %> 