<%- include('../components/header') %> 
<%- include('../components/navbar') %> 

<h2>This is PortFolio page </h2>


<script> document.title = "Things I can Do"</script>
<%- include('../components/footer') %> 