<%- include('../components/header') %> 
<body>
    <%- include('../components/navbar') %> 
<div class="main-body">
<h2>This is Resume page </h2>

</div>
<script> document.title = "Resume"</script>
    
</body>
<%- include('../components/footer') %> 