<%- include('../components/header') %> 
</head>
<body>
    

<%- include('../components/navbar') %> 

<h2>This is Sign in Page </h2>


<script> document.title = "Resume"</script>
<%- include('../components/footer') %> 
</body>