<%- include('../components/header') %> 
</head>
<body>
    
<%- include('../components/navbar') %> 

<h2>This is Sign Up Page </h2>


<script> document.title = "Resume"</script>
</body>

<%- include('../components/footer') %> 