<%- include('../components/header') %> 
<%- include('../components/navbar') %> 

<body>
    
<h2>This is Tools' page </h2>


<script> document.title = "Tools"</script>
</body>

<%- include('../components/footer') %> 