<%- include('../../../components/header') %> 

<link rel="stylesheet" href="blurry_loading.css">

</head>

<body>
    <%- include("../../../components/navbar") %> 
    <div style="height: 2vh;"></div>
    <div class="container">
            <h2 style="color: white;" class="loading-text2">Blurry Loading</h2>

    </div>
    <h4 class="loading-text">0%</h4>

    </div>

     <script src="blurry_loading.js"></script>

    <script>document.title = 'Blurry Loading '</script>
</body>

<%- include('../../../components/footer') %> 
</html>